.trend {
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    .trend-center {
        width: 1335px;
        height: 405px;
        border: 1px solid lightgray;
        border-radius: 16px;
        .trend-center-subject {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
            box-sizing: border-box;
            position: relative;
            h1 {
                font-family: regular;
                font-size: 20px;
                margin-right: 10px;
            }
            a {
                position: absolute;
                left: 15px;
                top: 10px;
                font-family: regular;
                font-size: 14px;
                color: #19BFD3;
                text-decoration: none;
            }
        }
        .swiper {
            width: 100%;
            height: 350px;
            margin-top: 5px;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            .swiper-slide-item {
                width: 100%;
                height: 100%;
                padding-top: 5px;
                box-sizing: border-box;
                .swiper-slide-item-product {
                    width: 100%;
                    padding: 12px 10px;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    column-gap: 6px;
                    img {
                        width: 86px;
                        height: 86px;
                    }
                    span {
                        font-family: number;
                        font-size: 26px;
                        color: #19BFD3;
                    }
                    p {
                        font-family: regular;
                        font-size: 13px;
                        text-align: right;
                        margin-right: 5px;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        box-orient: vertical;
                        -webkit-line-clamp: 2;
                        line-clamp: 2;
                        overflow: hidden;
                        line-height: 36px;
                        padding-bottom: 10px;
                        padding-top: 10px;
                        box-sizing: border-box;
                    }
                }
            }
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.border-bottom {
    border-bottom: 1px solid lightgray;
}
.single-line {
    padding-top: 27.5px !important;
    padding-bottom: 27.5px !important;
}